@page
@model Webapp.Pages.Tournaments.CreateModel
@{
  ViewData["Title"] = "Tournament List";
}

<h1>
  Créer un tournois
</h1>

<form method="post">
  <input name="Tournament.Name">
  <button type="submit">Créer</button>
</form>