@page
@model Webapp.Pages.Tournaments.CreateModel
@{
  ViewData["Title"] = "Tournament List";
}

<h1>
  Créer un tournois
</h1>

<form method="post">
  <input asp-for="Input.Name">
  <label asp-for="Input.Name"></label>
  <span class="text-danger field-validation-valid" asp-validation-for="Input.Name"></span>
  <button type="submit">Créer</button>
</form>