@page "/tournaments/create"
@model Webapp.Pages.CreateTournamentModel
@{
  ViewData["Title"] = "Create tournament";
  Layout = "_MainLayout";
}


<h1 class="section-title">Create a new tournament</h1>

<form method="post" class="form">
  <div class="input-wrapper">
    <label asp-for="Input.Name" class="input-label"></label>
    <input asp-for="Input.Name" class="input">

    <span asp-validation-for="Input.Name" class="input-error"></span>
  </div>
  <button type="submit" class="btn self-end">Create</button>
</form>
