@page "/tournaments/{tournamentId}/games/{gameId}/rewards/edit"
@model Webapp.Pages.EditRewardsModel
@{
  ViewData["Title"] = "Edit Rewards";
  Layout = "_MainLayout";
}

@await Html.PartialAsync("_TitlePartial", Model.Game.Name)

<h2 class="section-title">Edit rewards</h2>

<form method="post" class="form">
  <ul class="flex flex-col">
    @for (var i = 0; i < Model.Input.Length; i++)
    {
      <li class="input-wrapper">
        <label asp-for="Input[i].Value" class="input-label">reward @(i + 1)</label>
        <input type="number" asp-for="Input[i].Value" class="input">
        <span asp-validation-for="Input[i].Value" class="input-error"></span>
      </li>
    }
  </ul>
  <button type="submit" class="btn self-end">Edit</button>
</form>