@page "/tournaments/{tournamentId}/games/{gameId}/teams/{teamId}/edit"
@model Webapp.Pages.EditTeamModel
@{
  ViewData["Title"] = "Edit Team";
  Layout = "_MainLayout";
}

@await Html.PartialAsync("_TitlePartial", $"Team {Model.Team.Number}")

<h2 class="section-title">Edit team</h2>

<form method="post" class="form">
  <label asp-for="Input.Bonus" class="input-label"></label>
  <input type="number" asp-for="Input.Bonus" class="input">
  <span asp-validation-for="Input.Bonus" class="input-error"></span>
  <label asp-for="Input.Malus" class="input-label"></label>
  <input type="number" asp-for="Input.Malus" class="input">
  <span asp-validation-for="Input.Malus" class="input-error"></span>
  <label asp-for="Input.ResultValue" class="input-label"></label>
  <input type="number" asp-for="Input.ResultValue" class="input">
  <span asp-validation-for="Input.ResultValue" class="input-error"></span>
  <button type="submit" class="btn self-end">Edit</button>
</form>