@page "/tournaments/{tournament}/games/{game}/teams/{team}/edit"
@model Webapp.Pages.EditTeamModel
@{
  ViewData["Title"] = "Edit Team";
}

<h1>Edit team @Model.Team.Number</h1>

<form method="post">
  <label asp-for="Input.Bonus"></label>
  <input type="number" asp-for="Input.Bonus">
  <span asp-validation-for="Input.Bonus"></span>
  <label asp-for="Input.Malus"></label>
  <input type="number" asp-for="Input.Malus">
  <span asp-validation-for="Input.Malus"></span>
  <label asp-for="Input.ResultValue"></label>
  <input type="number" asp-for="Input.ResultValue">
  <span asp-validation-for="Input.ResultValue"></span>
  <button type="submit">Edit</button>
</form>