@page "/tournaments/{tournamentId}/games/{gameId}/edit"
@model Webapp.Pages.EditGameModel
@{
  ViewData["Title"] = "Edit game";
  Layout = "_MainLayout";
}

@await Html.PartialAsync("_TitlePartial", Model.Game.Name)

<h2 class="section-title">Edit game</h2>

<form method="post" class="form">
  <label asp-for="Input.Name" class="input-label"></label>
  <input asp-for="Input.Name" class="input">
  <span asp-validation-for="Input.Name" class="input-error"></span>
  <button type="submit" class="btn self-end">Edit</button>
</form>
