@page "/tournaments/{tournamentId}/games/{gameId}"
@model Webapp.Pages.GameModel
@{
  ViewData["Title"] = "Game";
}

<h1>@Model.Game.Name</h1>

@if (Model.IsOwner)
{
  <a asp-area="" asp-page="/EditGame" asp-route-tournamentId=@Model.Tournament.Id asp-route-gameId=@Model.Game.Id>
  Edit game
</a>
}

<h2>Rewards</h2>

@if (Model.IsOwner)
{
  <a asp-area="" asp-page="/EditRewards" asp-route-tournamentId=@Model.Tournament.Id asp-route-gameId=@Model.Game.Id>
  Edit rewards
</a>
}

<ul>
  @foreach (var reward in Model.Rewards)
  {
    <li>@reward.Value</li>
  }
</ul>

<h2>Teams</h2>

@if (Model.Teams.Count == 0)
{
  <p>Teams have not been formed yet.</p>
}
else
{
  <ul>
  @foreach (var team in Model.Teams)
    {
      <li>
        @await Html.PartialAsync("_TeamPartial", new TeamPartial
{
  IsOwner = Model.IsOwner,
  Tournament = Model.Tournament,
  Game = Model.Game,
  Team = team,
  Teammates = [ ..team.Teammates ]
})
      </li>
    }
  </ul>
}

@if (Model.IsOwner)
{
  <form method="post">
  <button type="submit">
    @if (Model.Teams.Count == 0)
      {
        <p>Generate teams</p>
      }
      else
      {
        <p>Re-generate teams</p>
      }
    </button>
  </form>
}