@page "/tournaments/{tournament}/games/{game}"
@model Webapp.Pages.GameModel
@{
  ViewData["Title"] = "Game";
}

<h1>@Model.Game.Name</h1>

@if (Model.IsOwner)
{
  <a asp-area="" asp-page="/EditGame" asp-route-tournament=@Model.Tournament.Id asp-route-game=@Model.Game.Id>
  Edit game
</a>
}

<h2>Rewards</h2>

@if (Model.IsOwner)
{
  <a asp-area="" asp-page="/EditRewards" asp-route-tournament=@Model.Tournament.Id asp-route-game=@Model.Game.Id>
  Edit rewards
</a>
}

<ul>
  @foreach (var reward in Model.Rewards)
  {
    <li>@reward.Value</li>
  }
</ul>

<h2>Teams</h2>

@if (Model.Teams.Count == 0)
{
  <p>
  Teams have not been formed yet.
</p>
}
else
{
  <ul>
  @foreach (var team in Model.Teams)
    {
      <li>Team @(team.Number + 1)</li>
    }
  </ul>
}

@if (Model.IsOwner)
{
  <form method="post">
  <button type="submit">Generate teams</button>
</form>
}