@page
@model Webapp.Pages.IndexModel
@{
  ViewData["Title"] = "Tournament Creation";
}

@if (Model.User.Identity is null || !Model.User.Identity.IsAuthenticated)
{
  <h2>Lo, greetings! Here beginneth the process of creating a tournament, but first thou must log in.</h2>
}
else
{
  <h2>Greetings, @Model.User.Identity.Name.</h2>

  <a asp-area="" asp-page="/CreateTournament">Create tournament</a>

  <h3>My tournaments</h3>

  <ul>
  @foreach (var tournament in Model.Tournaments)
    {
      <li>
        <a asp-area="" asp-page="/Tournament" asp-route-tournamentId=@tournament.Id>
          @tournament.Name
        </a>
      </li>
    }
  </ul>
}
