@page
@model Webapp.Pages.IndexModel
@{
  ViewData["Title"] = "Tournament Creation";
}

@if (Model.User.Identity is null || !Model.User.Identity.IsAuthenticated)
{
  <h2>Lo, greetings! Here beginneth the process of creating a tournament, but first thou must log in.</h2>
}
else
{
  <h2>Greetings, @Model.User.Identity.Name. Thou mayst create a tournament, if thou wilt!</h2>
  <form method="post">
  <label asp-for="Input.Name"></label>
  <input asp-for="Input.Name">
  <span asp-validation-for="Input.Name"></span>
  <button type="submit">Créer</button>
</form>

  <h4>@TempData["FormResult"]</h4>

  <h3>My tournaments</h3>

  <ul>
  @foreach (var tournament in Model.Tournaments)
    {
      <li>
        <a asp-area="" asp-page="/Tournaments/Index" asp-route-name=@tournament.Name>
          @tournament.Name
        </a>
      </li>
    }
  </ul>
}
