@page "/tournaments/{tournamentId}/games/{gameId}/teams/{teamId}"
@model Webapp.Pages.TeamModel
@{
  ViewData["Title"] = "Team";
}

@if (Model.IsOwner)
{
  <a asp-area="" asp-page="/EditTeam" asp-route-tournamentId=@Model.Tournament.Id asp-route-gameId=@Model.Game.Id
  asp-route-teamId=@Model.Team.Id asp-route-currentPlayerId=@Model.CurrentPlayer?.Id>
  Edit team
</a>
}

@await Html.PartialAsync("_TeamPartial", new TeamPartial
{
  IsOwner = Model.IsOwner,
  Tournament = Model.Tournament,
  Game = Model.Game,
  Team = Model.Team,
  CurrentPlayer = Model.CurrentPlayer,
  Teammates = Model.Teammates
})