@page "/tournaments/{tournament}/games/{game}/teams/{team}"
@model Webapp.Pages.TeamModel
@{
  ViewData["Title"] = "Team";
}

@if (Model.IsOwner)
{
  <a asp-area="" asp-page="/EditTeam" asp-route-tournament=@Model.Tournament.Id asp-route-game=@Model.Game.Id
  asp-route-team=@Model.Team.Id>
  Edit team
</a>
}

@await Html.PartialAsync("_TeamPartial", new TeamPartial
{
  IsOwner = Model.IsOwner,
  Tournament = Model.Tournament,
  Game = Model.Game,
  Team = Model.Team,
  Teammates = Model.Teammates
})