@page "/tournaments/{tournamentId}"
@model Webapp.Pages.TournamentModel
@{
  ViewData["Title"] = "Tournament";
}

<h1>@Model.Tournament.Name</h1>

@if (Model.IsOwner)
{
  <a asp-area="" asp-page="/EditTournament" asp-route-tournamentId=@Model.Tournament.Id
  asp-route-currentPlayerId=@Model.CurrentPlayer?.Id>Edit tournament</a>
}

<h2>Players</h2>

@if (Model.IsOwner)
{
  <a asp-area="" asp-page="/CreatePlayers" asp-route-tournamentId=@Model.Tournament.Id
  asp-route-currentPlayerId=@Model.CurrentPlayer?.Id>Create players</a>
}

<ul>
  @foreach (var player in Model.Players)
  {
    <li>@await Html.PartialAsync("_PlayerPartial", new PlayerPartial
 {
   CurrentPlayer = Model.CurrentPlayer,
   Player = player
 })</li>
  }
</ul>

<h2>Games</h2>

@if (Model.IsOwner)
{
  <a asp-area="" asp-page="/CreateGame" asp-route-tournamentId=@Model.Tournament.Id
  asp-route-currentPlayerId=@Model.CurrentPlayer?.Id>Create game</a>
}

<ul>
  @foreach (var game in Model.Games)
  {
    <li>
      <a asp-area="" asp-page="/Game" asp-route-tournamentId=@Model.Tournament.Id asp-route-gameId=@game.Id
        asp-route-currentPlayerId=@Model.CurrentPlayer?.Id>@game.Name</a>
    </li>
  }
</ul>