@page "/tournaments/{tournament}"
@model Webapp.Pages.TournamentModel
@{
  ViewData["Title"] = "Tournament";
}

<h1>@Model.Tournament.Name</h1>

@if (Model.IsOwner)
{
  <a asp-area="" asp-page="/EditTournament" asp-route-tournament=@Model.Tournament.Id>Edit tournament</a>
}

<h2>Players</h2>

@if (Model.IsOwner)
{
  <a asp-area="" asp-page="/CreatePlayers" asp-route-tournament=@Model.Tournament.Id>Create players</a>
}

<ul>
  @foreach (var player in Model.Players)
  {
    <li>@player.Name</li>
  }
</ul>

<h2>Games</h2>

@if (Model.IsOwner)
{
  <a asp-area="" asp-page="/CreateGame" asp-route-tournament=@Model.Tournament.Id>Create game</a>
}

<ul>
  @foreach (var game in Model.Games)
  {
    <li>
      <a asp-area="" asp-page="/Game" asp-route-tournament=@Model.Tournament.Id asp-route-game=@game.Id>@game.Name</a>
    </li>
  }
</ul>