@page "/tournaments/{tournament}/games/{game}/rewards/update"
@model Webapp.Pages.UpdateRewardsModel
@{
  ViewData["Title"] = "Update Rewards";
}

<h3>Update rewards</h3>

<form method="post">
  <ul>
    @for (var i = 0; i < Model.Rewards.Count; i++)
    {
      <li>
        <label asp-for="Rewards[i].Value">Reward @(i + 1)</label>
        <input type="number" asp-for="Rewards[i].Value">
        <span asp-validation-for="Rewards[i].Value"></span>
        <input hidden asp-for="Rewards[i].Id">
        <input hidden asp-for="Rewards[i].GameId">
      </li>
    }
  </ul>
  <button type="submit">Create</button>
</form>