@using Webapp.Models

@{
    Guid? tournament = ViewData["Tournament"] is not null ? (ViewData["Tournament"] as Tournament).Id : null;
    Guid? game = ViewData["Game"] is not null ? (ViewData["Game"] as Game).Id : null;
    Guid? team = ViewData["Team"] is not null ? (ViewData["Team"] as Team).Id : null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Webapp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav>
            <div>
                <ul>
                    <li>
                        <a asp-area="" asp-page="/Index">Home</a>
                    </li>
                    @if (tournament is not null)
                    {
                        <li>
                            <a asp-area="" asp-page="/Tournament" asp-route-tournament=@tournament>Tournament</a>
                        </li>
                    }
                    @if (game is not null)
                    {
                        <li>
                            <a asp-area="" asp-page="/Game" asp-route-tournament=@tournament asp-route-game=@game>Game</a>
                        </li>
                    }
                    @if (team is not null)
                    {
                        <li>
                            <a asp-area="" asp-page="/Team" asp-route-tournament=@tournament asp-route-game=@game
                                asp-route-team=@team>Team</a>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            <h4>@TempData["FormResult"]</h4>
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>