@namespace Webapp.Pages
@model TeamPartial

<h2> <a asp-area="" asp-page="/Team" asp-route-tournamentId=@Model.Tournament.Id asp-route-gameId=@Model.Game.Id
    asp-route-teamId=@Model.Team.Id asp-route-currentPlayerId=@Model.CurrentPlayer?.Id>Team @Model.Team.Number</a> </h2>
<p>Bonus: @Model.Team.Bonus</p>
<p>Malus: @Model.Team.Malus</p>
<p>Result: @(Model.Team.Result?.Value.ToString() ?? "Unknown")</p>

<h2>Team mates</h2>

<ul>
  @foreach (var teammate in Model.Teammates)
  {
    <li>
      @await Html.PartialAsync("_TeammatePartial", new TeammatePartial
{
  IsOwner = Model.IsOwner,
  Tournament = Model.Tournament,
  Game = Model.Game,
  Team = Model.Team,
  CurrentPlayer = Model.CurrentPlayer,
  Teammate = teammate
})
    </li>
  }
</ul>