@namespace Webapp.Pages
@model TeammatePartial

@if (Model.IsOwner)
{
  <a asp-area="" asp-page="/EditTeammate" asp-route-tournamentId=@Model.Tournament.Id asp-route-gameId=@Model.Game.Id
  asp-route-teamId=@Model.Team.Id asp-route-teammateId=@Model.Teammate.Id>
  @Model.Teammate.Player.Name
</a>
}
else
{
  <p>@Model.Teammate.Player.Name</p>
}
<p>Bonus: @Model.Teammate.Bonus</p>
<p>Malus: @Model.Teammate.Malus</p>