@namespace Webapp.Pages
@model TeammatePartial

@await Html.PartialAsync("_PlayerPartial", new PlayerPartial
{
  Player = Model.Player,
  CurrentPlayer = Model.CurrentPlayer
})
<p aria-label="player @Model.Player.Name bonus">+@Model.Teammate.Bonus</p>
<p aria-label="player @Model.Player.Name malus">-@Model.Teammate.Malus</p>
@if (Model.IsOwner)
{
  <a asp-area="" asp-page="/EditTeammate" asp-route-tournamentId=@Model.Tournament.Id asp-route-gameId=@Model.Game.Id
  asp-route-teamId=@Model.Team.Id asp-route-teammateId=@Model.Teammate.Id
  asp-route-currentPlayerId=@Model.CurrentPlayer?.Id>
  Edit @Model.Player.Name
</a>
}