@namespace Webapp.Pages
@model string

<div class="overflow-x-hidden w-full bg-stone-900 text-stone-100 flex justify-center">
  <div class="w-[300px] flex overflow-x-hidden">
    <h1 class="title self-start" role="button" tabIndex="0">@Model</h1>
  </div>
</div>