@namespace Webapp.Pages
@model string?

@if (!string.IsNullOrEmpty(Model)) {
  <div class="fixed z-50 bottom-8 w-full px-4">
    <h4 class="bg-stone-900 text-stone-100 p-2 text-sm rounded-md toast">@Model</h4>
  </div>
}